<div class="effect" >
    <div class="effectName">{{effect.type}}
      <select class='moveinsel' *ngIf='effect.direction !== ""' (change)="updateSelect()" [(ngModel)]="directionSelected">
          <option *ngFor="let option of optionSelect" [ngValue]="option">{{option}}</option>
      </select>
    </div>
  
  <div class="effectnamespace"></div>
  <div class="effectsliderspace">
    <nouislider [connect]="true" [min]="min" [max]="max" [(ngModel)]="someRange" (mouseup)='sliderNum()'></nouislider>
  </div>
</div>