<div id={{layerName}} class="layer" [style.width]="widthlayer" (click)="selected()" [ngStyle]="{'outline': variableOutline ? '3px solid greenyellow' : '0px solid greenyellow'}">
    <div class="layername">
      {{layerName}}
      <!-- fixing -->
      <span class='toggle' (click)="animateMe()" [@rotateArrow]='stateArrow'></span>
    </div>
    <div class="layernamespace" [style.width]="widthlayernamespace"><button>ADD EFFECT</button></div>
    <div [@myAnim]='state'>
      <div *ngIf='effects != null'> 
        <effect *ngFor='let effectProps of effects' [effect]='effectProps'></effect>
      </div> 
       
   
      <!-- <div id="objects" [dragula]='"first-bag"' *ngIf='objects.length'>
        <div *ngFor='let object of objects'> -->

    
    <!-- <div class="effect" >
        <div class="effectName">Move In
          <select class='moveinsel'>
              <option value="left">Left</option>
              <option value="right">Right</option>
              <option value="top">Top</option>
              <option value="bottom">Bottom</option>
          </select>
        </div>
      
      <div class="effectnamespace"></div>
      <div class="effectsliderspace">
        <nouislider [connect]="true" [min]="0" [max]="5" [(ngModel)]="someRange" (click)='sliderNum()'></nouislider>
      </div>
    </div> -->


    <!-- <div class="effect" >
        <div class="effectName">Fade Out
        </div>
      
      <div class="effectnamespace"></div>
      <div class="effectsliderspace">
        <nouislider [connect]="true" [min]="0" [max]="5" [(ngModel)]="someRange" (click)='sliderNum()'></nouislider>
      </div>
    </div> -->

 



   </div>
    
  </div>