<div id={{layerName}} class="layer" >
    <div class="layername" (click)="animateMe()">
      {{layerName}}
      <span class='toggle'></span>
    </div>
    <div class="layernamespace"><button>ADD EFFECT</button></div>
    <div class=".effectanim" [@myAnim]='state'>

      <effect></effect>
      <effect></effect>
      

    
    <!-- <div class="effect" >
        <div class="effectName">Move In
          <select class='moveinsel'>
              <option value="left">Left</option>
              <option value="right">Right</option>
              <option value="top">Top</option>
              <option value="bottom">Bottom</option>
          </select>
        </div>
      
      <div class="effectnamespace"></div>
      <div class="effectsliderspace">
        <nouislider [connect]="true" [min]="0" [max]="5" [(ngModel)]="someRange" (click)='sliderNum()'></nouislider>
      </div>
    </div> -->


    <!-- <div class="effect" >
        <div class="effectName">Fade Out
        </div>
      
      <div class="effectnamespace"></div>
      <div class="effectsliderspace">
        <nouislider [connect]="true" [min]="0" [max]="5" [(ngModel)]="someRange" (click)='sliderNum()'></nouislider>
      </div>
    </div> -->

 



   </div>
    
  </div>