.layers {
    width: 100%;
    height: 200px;

    background-color: #2F2726;
    overflow: scroll;
    float: left;
}
/*---------------------------*/
/*TimelineNumbers*/
/*---------------------------*/
.timelineWrap {
    height: 20px;
    width: 600px;
    background-color: #12F004;
}

.timelineName {
    height: 20px;
    width: 100px;
    background-color: #A00079;
    color: red;
    display: inline-block;
}

.timelineNumbers {
    width: 500px;
    height: 20px;
    color: white;
    background-color: #686868;
    float: right;
}





