* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 100%;
}

p {
    text-align:center;
  }

/* #window {
    width: 1000px;
    height: 1000px;
} */

.layers {
    width: 800px;
    height: 200px;

    background-color: #2F2726;
    overflow: scroll;
    float: left;
}

.timelineWrap {
    height: 20px;
    width: 600px;
    background-color: #12F004;
}

.timelineName {
    height: 20px;
    width: 100px;
    background-color: #A00079;
    color: red;
    float: left;
    display: inline-block;
}

.timelineNumbers {
    height: 20px;
    width: 500px;
    background-color: #0E8E1C;
    color: red;
    float: right;
}

.timelineNumbers {
    width: 500px;
    height: 20px;
  
}

.timelineNumbers > *{
    
    font-size: 10px;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.timeNumberSpace {
  width: 2.8%;
  height: 100%;
  background-color: purple;
   margin: 0px;
    padding: 0px;

}

.timeNumberSpaceBetween {
 width: 16.64%;
 height: 100%;
 background-color:yellow;
  margin: 0px;
    padding: 0px;
}

